In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import csv
import io

In [2]:
def get_urls(url: str):

    '''
    Retrieves a list of links from the url given as a string
    using BeautifulSoup.
    '''

    try:
        response = requests.get(url)
        response.raise_for_status()

    except requests.exceptions.HTTPError as error:
        if error.response.status_code == 404:
            print(f"Error 404: url not found for {url}")

    response = requests.get(url)

    soup = BeautifulSoup(response.content, 'html.parser')
    url_list = []
    for link in soup.find_all('a', href=True):
        href = link['href']
        url_list.append(href)

    return url_list

In [3]:
def get_url_with_str(main: str, url_list: list, part: str):
    '''
    A function that takes as input a url as a string called main,
    a list of urls that are strings, and a substring part to refine
    a list of urls.
    '''
    url_list_with_str = []
    for url in url_list:
        if part in url:
            url_list_with_str.append(main+url)
    return url_list_with_str

In [4]:
main_url = 'https://www.ncei.noaa.gov/pub/data/swdi/stormevents/csvfiles/'

In [6]:
url_list = get_urls(main_url)
url_list_details = get_url_with_str(main_url, url_list, 'details')

In [7]:
df_list = []
for url in url_list_details:
    response = requests.get(url)
    file = io.BytesIO(response.content)
    df = pd.read_csv(file, compression='gzip')
    df_list.append(df)

/var/folders/30/5r4_75_n4bz34nyphw8tfv3m0000gn/T/ipykernel_2015/1965347816.py:5: DtypeWarning: Columns (26,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, compression='gzip')
/var/folders/30/5r4_75_n4bz34nyphw8tfv3m0000gn/T/ipykernel_2015/1965347816.py:5: DtypeWarning: Columns (26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, compression='gzip')
/var/folders/30/5r4_75_n4bz34nyphw8tfv3m0000gn/T/ipykernel_2015/1965347816.py:5: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, compression='gzip')
/var/folders/30/5r4_75_n4bz34nyphw8tfv3m0000gn/T/ipykernel_2015/1965347816.py:5: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, compression='gzip')
/var/folders/30/5r4_75_n4bz34nyphw8tfv3m0000gn/T/ipykernel_2015/1965347816.py:5: DtypeWarning: Columns (29,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, compression='gzip')

In [8]:
df_full = pd.concat(df_list,ignore_index = True)

In [9]:
df_full.to_csv('storm_data.csv')

In [10]:
df_full.shape

(1974189, 51)

In [14]:
df_full.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,195004,28,1445,195004,28,1445,NaN,10096222,OKLAHOMA,40.0,...,0.0,NaN,NaN,35.12,-99.20,35.17,-99.20,NaN,NaN,PUB
1,195004,29,1530,195004,29,1530,NaN,10120412,TEXAS,48.0,...,0.0,NaN,NaN,31.90,-98.60,31.73,-98.60,NaN,NaN,PUB
2,195007,5,1800,195007,5,1800,NaN,10104927,PENNSYLVANIA,42.0,...,0.0,NaN,NaN,40.58,-75.70,40.65,-75.47,NaN,NaN,PUB
3,195007,5,1830,195007,5,1830,NaN,10104928,PENNSYLVANIA,42.0,...,0.0,NaN,NaN,40.60,-76.75,NaN,NaN,NaN,NaN,PUB
4,195007,24,1440,195007,24,1440,NaN,10104929,PENNSYLVANIA,42.0,...,0.0,NaN,NaN,41.63,-79.68,NaN,NaN,NaN,NaN,PUB

In [15]:
df.columns

Index(['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'STATE_FIPS',
       'YEAR', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME',
       'WFO', 'BEGIN_DATE_TIME', 'CZ_TIMEZONE', 'END_DATE_TIME',
       'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
       'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY', 'TOR_F_SCALE',
       'TOR_LENGTH', 'TOR_WIDTH', 'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE',
       'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH',
       'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON',
       'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'DATA_SOURCE'],
      dtype='object')